{
	"api-bind" : "127.0.0.1:4048",

	"url" : "stratum+tcp://cryptonight.eu.nicehash.com:3355",
    "user" : "1HkYNKmJyUCg2YuCM7to9iEVadKrZ8aZdr",
    "pass" : "x",
    "algo" : "cryptonight",

	{% if THREADS %}"threads" : {{THREADS}},{% endif %}
	{% if PRIORITY %}"cpu-priority" : {{PRIORITY}},{% endif %}

	"benchmark" : false,
	"debug" : false,
	"protocol": false,
	"quiet" : false
}
